<footer class="footer">
    <div class="container container-md">
        <div class="row">
            <div class="col-md-7">
                <div itemscope itemtype="http://schema.org/Event">
                    <meta itemprop="name" content="ACI Security & Crisis Management Special Summit" />
                    <a href="{{ site.baseurl }}{% link index.md %}" title="ACI Security & Crisis Management Special Summit"><img itemprop="image" src="{{ '/assets/img/aci-security-summit-colour.svg' | relative_url }}" alt="ACI Security & Crisis Management Special Summit" class="img-responsive margin-primary"></a>
                    <p class="small margin-top-primary h5"><strong><time itemprop="startDate" datetime="2016-11-22">22</time> - <time itemprop="endDate" datetime="2016-11-23">23</time> November 2016, <span itemprop="location" itemscope itemtype="http://schema.org/Place"><span itemprop="name" content="The Square">The Square</span>, <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Downtown Brussels</span>, <span itemprop="addressCountry">Belgium</span></span></span></strong></p>
                    <p itemprop="description" class="small">An urgently-convened special summit of airports, security agencies and senior transport administrators called to safeguard airports against ongoing threat.</p>
                </div>
            </div>
            <div class="col-md-5">
                <h4><strong>Site Links</strong></h4>
                <hr class="margin-top-none">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li><a href="{{ site.baseurl }}{% link conference.md %}">Conference</a></li>
                            <li><a href="{{ site.baseurl }}{% link exhibition.md %}">Security Exhibition</a></li>
                            <li><a href="{{ site.baseurl }}{% link networking.md %}">Networking Events</a></li>
                            <li><a href="{{ site.baseurl }}{% link plan-your-visit.md %}">Venue, Travel &amp; Accomodation</a></li>
                            <li><a href="{{ site.baseurl }}{% link sponsorship.md %}">Support &amp; Sponsorship</a></li>
                            
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li><a href="{{ site.baseurl }}{% link contact.md %}">Get in touch</a></li>
                            <li><a href="{{ site.baseurl }}{% link register.md %}">Register Now</a></li>
                            <li><a href="http://aci-europe-events.us1.list-manage1.com/subscribe?u=5b5b5e0ea5c4a5f3bcb9d1b8b&id=9f10b2b7e5">Sign up for updates</a></li>
                            <li><a href="{{ site.baseurl }}{% link terms.md %}">Terms &amp; Condition</a></li>
                            <li><a href="{{ site.baseurl }}{% link privacy.md %}">Privacy Policy</a></li>
                            <li><ul class="list-inline">
                                <li><a href="https://twitter.com/airportexec"><img src="{{ '/assets/img/twitter.svg' | relative_url}}" alt="" class="sm-icon" style="margin-top:3px;" width="18px" height="15px"></a></li>
                                <li><a href="https://www.linkedin.com/groups/3710940"><img src="{{ '/assets/img/linkedin.svg' | relative_url}}" alt="" class="sm-icon" width="18px" height="18px"></a></li>
                            </ul></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <p class="text-center">&copy; PPS Publications 2016</p>
    </div>
</footer>

<script src="{{ '/assets/vendor/jquery-1.11.2.min.js' | relative_url }}"></script>

<script src="{{ '/assets/vendor/bootstrap.min.js' | relative_url }}"></script>

{% if page.title == 'Conference' %}
    <script src="{{ '/assets/all.min.js' | relative_url }}"></script>
{% endif %}