<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% if page.title %}{{ page.title | escape }} | {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    <meta name="robots" content="noindex, nofollow">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{{ '/assets/apple-touch-icon.png' | relative_url }}">

    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">

    <script src="{{ '/assets/vendor/modernizr-2.8.3-respond-1.4.2.min.js' | relative_url  }}"></script>
</head>