<section class="section">
  <div class="container container-md">
    <hr class="hr-lg">
    <div class="row">
      <div class="col-sm-3">
        <h2 class="margin-top-none">
          With support from:
        </h2>
      </div>
      <div class="col-sm-9">
        <div class="row bs-columns-clearfix">
          
          <div class="col-sm-4 col-md-4 col-lg-4 conference-speaker conference-speaker-logo">
            
            <div class="inline-speaker-logo drop-shadow-hover">
                <div class="container-speaker-logo container-logo-platinum">
                    <img src="{{ '/assets/img/companies/securitas-logo-400x210.png' | relative_url }}" alt="" class="img-speaker-logo">
                    <h6 class="small text-center"><strong>Platinum Sponsor</strong></h6>
                </div>
            </div>
            
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 conference-speaker conference-speaker-logo">
            
            <div class="inline-speaker-logo drop-shadow-hover">
                <div class="container-speaker-logo container-logo-platinum">
                    <img src="{{ '/assets/img/companies/brussels-airport-400x210.png' | relative_url }}" alt="" class="img-speaker-logo">
                    <h6 class="small text-center"><strong>Platinum Sponsor</strong></h6>
                </div>
            </div>
            
          </div>
        </div>
        <br>
        <div class="row bs-columns-clearfix">
          <div class="col-sm-3 col-md-3 col-lg-3 conference-speaker conference-speaker-logo">
            
            <div class="inline-speaker-logo drop-shadow-hover">
                <div class="container-speaker-logo container-logo-gold">
                    <img src="{{ '/assets/img/companies/fondazione-8-400x210.png' | relative_url }}" alt="" class="img-speaker-logo">
                    <h6 class="small text-center"><strong>Gold Sponsor</strong></h6>
                </div>
            </div>
            
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3 conference-speaker conference-speaker-logo">
            
            <div class="inline-speaker-logo drop-shadow-hover">
                <div class="container-speaker-logo container-logo-gold">
                    <img src="{{ '/assets/img/companies/rapiscan-logo-400x210.png' | relative_url }}" alt="" class="img-speaker-logo">
                    <h6 class="small text-center"><strong>Gold Sponsor</strong></h6>
                </div>
            </div>
            
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3 conference-speaker conference-speaker-logo">
            
            <div class="inline-speaker-logo drop-shadow-hover">
                <div class="container-speaker-logo container-logo-gold">
                    <img src="{{ '/assets/img/companies/smiths-detection-400x210.png' | relative_url }}" alt="" class="img-speaker-logo">
                    <h6 class="small text-center"><strong>Gold Sponsor</strong></h6>
                </div>
            </div>
            
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3 conference-speaker conference-speaker-logo">
            
            <div class="inline-speaker-logo drop-shadow-hover">
                <div class="container-speaker-logo">
                    <img src="{{ '/assets/img/companies/brussels-airlines-logo-400x210.png' | relative_url }}" alt="" class="img-speaker-logo">
                    <h6 class="small text-center"><strong>Official Carrier</strong></h6>
                </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>