{% if page.title != 'Get in touch' %}<hr>{% else %}<br>{% endif %}
<div class="row">
  <div class="col-xs-6"><p><a href="{{ site.baseurl }}{% link register.md %}" role="button" class="btn btn-primary text-wrap">Register Now</a></p></div>
  <div class="col-xs-6"><p><a role="button" class="btn btn-default text-wrap" href="http://aci-europe-events.us1.list-manage1.com/subscribe?u=5b5b5e0ea5c4a5f3bcb9d1b8b&id=9f10b2b7e5">Get updates</a></p></div>
</div>
<p class="small">Early bird rates end 21st October</p>