<div class="row margin-top-primary">
    <div class="col-md-3">
        <p class="h5 text-gray margin-seconary"><strong><span class="h1 hero-title">16:15</span> - 17:30</strong></p>
        <h3 class="text-light"><strong>Second Working Session - Continued</strong></h3>
    </div>
    <div class="col-md-9 margin-primary">
        <h3 class="margin-top-none"><strong>Landside Security Part ll: <br /> People, processes, and practical solutions to appropriately manage risk</strong></h3>
        <h5 class="text-light">Proportionately enhancing control while avoiding over-reaction and gridlock</h5>
        <hr class="margin-top-none margin-bottom-none">
        <!-- Begin row -->
        <a class="session-row" data-toggle="collapse" href="#01-04-01-chairman" aria-expanded="false" aria-controls="01-04-01-chairman">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="session-row-title">
                        <li class="text-default">
                            <h4 class="margin-primary"><strong>Chairman</strong></h4></li>
                    </ul>
                </div>
                <div class="col-sm-4 session-row-description">
                    <p class="margin-secondary">Philipp Kriegbaum
                        <br><span class="small">Vice President</span></p>
                </div>
                <div class="col-sm-4 session-row-logos">
                    <div class="row">
                        <div class="col-xs-6">
                            <img src="{{ '/assets/img/companies/fraport-logo-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right margin-secondary">
                        </div>
                        <div class="col-xs-6">
                            <img src="{{ '/assets/img/companies/aci-europe-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right margin-secondary">
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <!-- End row / Begin details -->
        <div class="collapse session-details" id="01-04-01-chairman">
            <article>
                <header class="session-details-header bg-lighter">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="margin-primary"><strong>Chairman</strong></h4>
                        </div>
                        <div class="col-sm-2">
                            <a class="small text-gray pull-right margin-primary" data-toggle="collapse" href="#01-04-01-chairman" aria-expanded="false" aria-controls="01-04-01-chairman">- collapse</a>
                        </div>
                    </div>
                </header>
                <div class="session-details-content margin-secondary">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/fraport-logo-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/aci-europe-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <p class="margin-secondary">
                                        <strong>Philipp Kriegbaum</strong>
                                        <br>
                                        <span class="small">Vice President, Security and Quality Management, <br>Fraport <br><br>and Member, <br>ACI EUROPE Aviation Security Committee</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!-- End details -->
        <hr class="margin-top-none margin-bottom-none">
        <!-- Begin row -->
        <a class="session-row" data-toggle="collapse" href="#01-04-02-panel" aria-expanded="false" aria-controls="01-04-02-panel">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="session-row-title margin-secondary">
                        <li class="text-default">
                            <h4 class="margin-primary"><strong>Panel</strong></h4></li>
                    </ul>
                </div>
                <div class="col-sm-8 session-row-logos">
                    <div class="row">
                        <div class="col-sm-3 col-xs-6 col-sm-offset-3 margin-secondary"><img src="{{ '/assets/img/companies/scarabee-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right"></div>
                        <div class="col-sm-3 col-xs-6 margin-secondary"><img src="{{ '/assets/img/companies/bosch-logo-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right"></div>
                        <div class="col-sm-3 col-xs-6 margin-secondary"><img src="{{ '/assets/img/companies/aci-europe-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right"></div>
                    </div>
                </div>
            </div>
        </a>
        <!-- End row / Begin details -->
        <div class="collapse session-details" id="01-04-02-panel">
            <article>
                <header class="session-details-header bg-lighter">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="margin-primary"><strong>Panel</strong></h4>
                        </div>
                        <div class="col-sm-2">
                            <a class="small text-gray pull-right margin-primary" data-toggle="collapse" href="#01-04-02-panel" aria-expanded="false" aria-controls="01-04-02-panel">- collapse</a>
                        </div>
                    </div>
                </header>
                <div class="session-details-content margin-secondary">
                    <h4 class="margin-primary">Extending the airport security boundary: “Security should no longer be confined to the limits of the security check-point but become embedded in the entire passenger process beginning from home.”</h4>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/scarabee-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <p class="margin-secondary">
                                        <strong>Bert Willemsen</strong>
                                        <br>
                                        <span class="small">EVP Security, <br>
                    Scarabee Aviation Group <br>
                    and Member, <br>ACI EUROPE Aviation Security Committee</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="margin-primary">Does Intelligent Video Analysis (IVA) really work in detecting suspicious behaviour and packages in a crowed airport landside environment?</h4>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/bosch-logo-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/aci-europe-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <p class="margin-primary">
                                        <strong>Denis Castanet</strong>
                                        <br>
                                        <span class="small">Director, Business Development EMEA, Bosch Security Systems <br><br>
                    and Member, ACI EUROPE Aviation Security Committee</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!-- End details -->
    </div>
</div>