<div class="row margin-top-primary">
    <div class="col-md-3">
        <p class="h5 text-gray margin-seconary"><strong><span class="h1 hero-title">19:30</span></strong></p>
    </div>
    <div class="col-md-9 margin-primary">
        <h3 class="margin-top-none"><strong>Evening Networking Event</strong></h3>
        <hr class="margin-top-none margin-bottom-none">
        <!-- Begin row -->
        <div class="row">
            <div class="col-sm-4">
                <h4 class="margin-primary" style="padding-left:15px;"><strong>Hosted By</strong></h4>
            </div>
            <div class="col-sm-2 col-xs-6 col-sm-offset-6 session-row-logos">
                <img src="{{ '/assets/img/companies/brussels-airport-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right margin-secondary">
            </div>
        </div>
        <!-- End details -->
    </div>
</div>
<div class="margin-primary">
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9">
            <hr class="margin-none">
            <div class="session-break">
                <div class="row">
                    <div class="col-xs-6">
                        <h4 class="text-light">End of day 1</h4>
                    </div>
                    <div class="col-xs-6">
                        <h4 class="text-light text-right nav-agenda-footer nav-agenda-tabs"><a href="#day2" aria-controls="day2" role="tab" data-toggle="tab"><strong>Go to Day 2, Wednesday 23 November &#8594;</strong></a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>