<div class="row margin-top-primary">
    <div class="col-md-3">
        <p class="h5 text-gray margin-seconary"><strong><span class="h1 hero-title">14:00</span> - 15:30</strong></p>
        <h3 class="text-light"><strong>Fifth Working Session</strong></h3>
    </div>
    <div class="col-md-9 margin-primary">
        <h3 class="margin-top-none"><strong>Radicalised employees: Understanding the threat; reducing the risk</strong></h3>
        <hr class="margin-top-none margin-bottom-none">
        <!-- Begin row -->
        <a class="session-row" data-toggle="collapse" href="#02-01-08-welcome-address" aria-expanded="false" aria-controls="02-01-08-welcome-address">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="session-row-title">
                        <li class="text-default">
                            <h4 class="margin-primary"><strong>Chairman</strong></h4></li>
                    </ul>
                </div>
                <div class="col-xs-6 session-row-description">
                    <p class="margin-secondary">Mats Paulsson
                        <br><span class="small">Corporate Security and Safety Director</span></p>
                </div>
                <div class="col-sm-2 col-xs-6  session-row-logos">
                    <img src="{{ '/assets/img/companies/swedavia-logo-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right margin-secondary">
                </div>
            </div>
        </a>
        <!-- End row / Begin details -->
        <div class="collapse session-details" id="02-01-08-welcome-address">
            <article>
                <header class="session-details-header bg-lighter">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="margin-primary"><strong>Chairman</strong></h4>
                        </div>
                        <div class="col-sm-2">
                            <a class="small text-gray pull-right margin-primary" data-toggle="collapse" href="#02-01-08-welcome-address" aria-expanded="false" aria-controls="02-01-08-welcome-address">- collapse</a>
                        </div>
                    </div>
                </header>
                <div class="session-details-content margin-secondary">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/swedavia-logo-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <p class="margin-secondary">
                                        <strong>Mats Paulsson</strong>
                                        <br>
                                        <span class="small">Corporate Security and Safety Director, <br>
                    Swedavia</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!-- End details -->
        <hr class="margin-top-none margin-bottom-none">
        <!-- Begin row -->
        <a class="session-row" data-toggle="collapse" href="#02-01-11-welcome-address" aria-expanded="false" aria-controls="02-01-11-welcome-address">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="session-row-title">
                        <li class="text-default">
                            <h4 class="margin-primary"><strong>Defining Presentation</strong></h4></li>
                    </ul>
                </div>
                <div class="col-xs-6 session-row-description">
                    <p class="margin-secondary">Professor Peter Neumann
                        <br><span class="small">King's College London<strong class='h4 text-fte-asia'>*</strong></span></p>
                </div>
                <div class="col-sm-2 col-xs-6 session-row-logos">
                    <img src="{{ '/assets/img/companies/kings-college-london-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right margin-secondary">
                </div>
            </div>
        </a>
        <!-- End row / Begin details -->
        <div class="collapse session-details" id="02-01-11-welcome-address">
            <article>
                <header class="session-details-header bg-lighter">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="margin-primary"><strong>Defining Presentation</strong></h4>
                        </div>
                        <div class="col-sm-2">
                            <a class="small text-gray pull-right margin-primary" data-toggle="collapse" href="#02-01-11-welcome-address" aria-expanded="false" aria-controls="02-01-11-welcome-address">- collapse</a>
                        </div>
                    </div>
                </header>
                <div class="session-details-content margin-secondary">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/kings-college-london-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <p class="margin-secondary">
                                        <strong>Professor Peter Neumann</strong>
                                        <br>
                                        <span class="small">International Centre for the Study of Radicalisation and Political Violence,<br>
                    King's College London<strong class='h4 text-fte-asia'>*</strong> </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <hr class="margin-top-none margin-bottom-none">
        <!-- Begin row -->
        <a class="session-row" data-toggle="collapse" href="#02-01-09-industry-address" aria-expanded="false" aria-controls="02-01-09-industry-address">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="session-row-title">
                        <li class="text-default">
                            <h4 class="margin-primary"><strong>Additional case studies</strong></h4></li>
                    </ul>
                </div>
                <div class="col-sm-8 session-row-logos margin-secondary">
                    <div class="row">
                        <div class="col-sm-3 "></div>
                        <div class="col-sm-3 col-xs-6"><img src="{{ '/assets/img/companies/geneve-aeroport-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right"></div>
                        <div class="col-sm-3 col-xs-6"><img src="{{ '/assets/img/companies/g4s-logo-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right"></div>
                        <div class="col-sm-3 col-xs-6"><img src="{{ '/assets/img/companies/aci-world-logo-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right"></div>
                    </div>
                </div>
            </div>
        </a>
        <!-- End row / Begin details -->
        <div class="collapse session-details" id="02-01-09-industry-address">
            <article>
                <header class="session-details-header bg-lighter">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="margin-primary"><strong>Additional case studies</strong></h4>
                        </div>
                        <div class="col-sm-2">
                            <a class="small text-gray pull-right margin-primary" data-toggle="collapse" href="#02-01-09-industry-address" aria-expanded="false" aria-controls="02-01-09-industry-address">- collapse</a>
                        </div>
                    </div>
                </header>
                <div class="session-details-content margin-secondary">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="margin-primary"><strong>After the passes of 30 on-airport workers were revoked, how has Geneva Airport responded to the Geneva Canton’s desire to “tighten controls?”</strong></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/geneve-aeroport-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/aci-world-logo-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <p class="margin-secondary">
                                        <strong>Ruben Jimenez</strong>
                                        <br>
                                        <span class="small">Head of Security, <br>Geneva Airport <br>and Member,<br>
                    ACI EUROPE Aviation Security Committee</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="margin-primary"><strong>G4S provides security at Brussels Airport, at EU buildings near Maelbeek Metro Station, and employs over 600,000 worldwide. Has there recently been a systematic transformation in how it perceives the threat from radicalised employees?</strong></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/g4s-logo-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/aci-world-logo-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <p class="margin-secondary">
                                        <strong>Ronald Engels</strong>
                                        <br>
                                        <span class="small">Director Aviation, <br>G4S Aviation Security <br>and Member,<br>
                   ACI EUROPE Aviation Security Committee</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!-- End details -->
        <hr class="margin-top-none margin-bottom-none">
        <!-- Begin row -->
        <div class="row">
            <div class="col-sm-4">
                <h4 class="margin-primary" style="padding-left:15px;"><strong>Closing keynote address</strong></h4>
            </div>
            <div class="col-sm-8 session-row-description">
                <p class="margin-primary">Closing Keynote Speaker to be unveiled shortly</p>
            </div>
        </div>
    </div>
</div>
<div class="margin-primary">
    <div class="row">
        <div class="col-sm-3">
            <p class="h5 text-lighter margin-top-none"><span class="h1">15:30</span></p>
        </div>
        <div class="col-sm-9">
            <hr class="margin-none">
            <div class="session-break">
                <div class="row">
                    <div class="col-xs-6">
                        <h4 class="text-light nav-agenda-footer nav-agenda-tabs"><a href="#day1" aria-controls="day1" role="tab" data-toggle="tab"><strong>&#8592; Go to Day 1, Tuesday 22 November</strong></a></h4>
                    </div>
                    <div class="col-xs-6">
                        <h4 class="text-light text-right">Conference End</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>