<div class="row margin-top-primary">
    <div class="col-md-3">
        <p class="h5 text-gray margin-seconary"><strong><span class="h1 hero-title">14:00</span> - 15:15</strong></p>
        <h3 class="text-light"><strong>Second Working Session</strong></h3>
    </div>
    <div class="col-md-9 margin-primary">
        <h3 class="margin-top-none"><strong>Landside Security Part l: <br /> The Vital Case Studies</strong></h3>
        <h5 class="text-light">Proportionately enhancing control while avoiding over-reaction and gridlock</h5>
        <hr class="margin-top-none margin-bottom-none">
        <!-- Begin row -->
        <a class="session-row" data-toggle="collapse" href="#01-03-01-chairmans-presentation" aria-expanded="false" aria-controls="01-03-01-chairmans-presentation">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="session-row-title">
                        <li class="text-default">
                            <h4 class="margin-primary"><strong>Chairman</strong></h4></li>
                    </ul>
                </div>
                <div class="col-xs-6 session-row-description">
                    <p class="margin-secondary">Stacey Peel
                        <br><span class="small">Global Lead Strategic Aviation Security</span></p>
                </div>
                <div class="col-sm-2 col-xs-6 session-row-logos">
                    <img src="{{ '/assets/img/companies/arup-logo-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right margin-secondary">
                </div>
            </div>
        </a>
        <!-- End row / Begin details -->
        <div class="collapse session-details" id="01-03-01-chairmans-presentation">
            <article>
                <header class="session-details-header bg-lighter">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="margin-primary"><strong>Chairman</strong></h4>
                        </div>
                        <div class="col-sm-2">
                            <a class="small text-gray pull-right margin-primary" data-toggle="collapse" href="#01-03-01-chairmans-presentation" aria-expanded="false" aria-controls="01-03-01-chairmans-presentation">- collapse</a>
                        </div>
                    </div>
                </header>
                <div class="session-details-content margin-secondary">
                    <h4 class="margin-primary">Airports can be designed with security in mind (and how this can please commercial and operational stakeholders)</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/arup-logo-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <p class="margin-secondary">
                                        <strong>Stacey Peel</strong>
                                        <br>
                                        <span class="small">Global Lead Strategic Aviation Security, <br>Arup</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!-- End details -->
        <hr class="margin-top-none margin-bottom-none">
        <!-- Begin row -->
        <a class="session-row" data-toggle="collapse" href="#01-03-02-panel" aria-expanded="false" aria-controls="01-03-02-panel">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="session-row-title margin-secondary">
                        <li class="text-default">
                            <h4 class="margin-primary"><strong>Panel</strong></h4></li>
                    </ul>
                </div>
                <div class="col-sm-8 session-row-logos">
                    <div class="row">
                        <div class="col-sm-3 col-xs-6 margin-secondary"><img src="{{ '/assets/img/companies/brussels-airport-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right"></div>
                        <div class="col-sm-3 col-xs-6 margin-secondary"><img src="{{ '/assets/img/companies/aci-europe-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right"></div>
                        <div class="col-sm-3 col-xs-6 margin-secondary"><img src="{{ '/assets/img/companies/department-for-transport-uk-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right"></div>
                        <div class="col-sm-3 col-xs-6 margin-secondary"><img src="{{ '/assets/img/companies/moscow-domodedovo-airport-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right"></div>
                    </div>
                </div>
            </div>
        </a>
        <!-- End row / Begin details -->
        <div class="collapse session-details" id="01-03-02-panel">
            <article>
                <header class="session-details-header bg-lighter">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="margin-primary"><strong>Panel</strong></h4>
                        </div>
                        <div class="col-sm-2">
                            <a class="small text-gray pull-right margin-primary" data-toggle="collapse" href="#01-03-02-panel" aria-expanded="false" aria-controls="01-03-02-panel">- collapse</a>
                        </div>
                    </div>
                </header>
                <div class="session-details-content margin-secondary">
                    <h4 class="margin-primary">The Brussels Airport Attack March 2016 – why airport security will never be the same again</h4>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/brussels-airport-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/aci-europe-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <p class="margin-secondary">
                                        <strong>Wilfried Covent</strong>
                                        <br>
                                        <span class="small">Head of Security, <br>Brussels Airport, <br><br>
                    and Vice-Chair, <br>ACI EUROPE Aviation Security Committee</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="margin-primary">The response to the 2007 Glasgow Airport Bombing, the resulting measures and current reviews since Brussels and Istanbul</h4>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/department-for-transport-uk-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <p class="margin-secondary">
                                        <strong>Phil Dykins</strong>
                                        <br>
                                        <span class="small">Head of Aviation Security Policy, <br>
                    Department for Transport (DfT), United Kingdom</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="margin-primary">The 2011 Moscow Domodedovo Airport suicide bombing and the measures taken to prevent future attacks</h4>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/moscow-domodedovo-airport-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <p class="margin-secondary">
                                        <strong>Andrey Danilov</strong>
                                        <br>
                                        <span class="small">Head of Aviation Security Policy, <br>
                    Moscow Domodedovo Airport</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!-- End details -->
    </div>
</div>
<div class="margin-primary">
    <div class="row">
        <div class="col-sm-3">
            <p class="h5 text-lighter margin-top-none"><span class="h1">15:15</span> - 16:15</p>
        </div>
        <div class="col-sm-9">
            <hr class="margin-none">
            <div class="session-break">
                <h4 class="text-light">Coffee break on the Exhibition Floor</h4>
            </div>
        </div>
    </div>
</div>