<div class="row margin-top-primary">
    <div class="col-md-3">
        <p class="h5 text-gray margin-seconary"><strong><span class="h1 hero-title">11:15</span> - 12:45</strong></p>
        <h3 class="text-light"><strong>First Working Session</strong></h3>
    </div>
    <div class="col-md-9 margin-primary">
        <h3 class="margin-top-none"><strong>The Global Security Leaders Assembly: In-depth discussion of UN Security Council Resolution 2309: “More should and could be done to improve aviation security across the world.”</strong></h3>
        <hr class="margin-top-none margin-bottom-none">
        <!-- Begin row -->
        <a class="session-row" data-toggle="collapse" href="#01-02-01-chairman" aria-expanded="false" aria-controls="01-02-01-chairman">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="session-row-title">
                        <li class="text-default">
                            <h4 class="margin-primary"><strong>Chairman</strong></h4></li>
                    </ul>
                </div>
                <div class="col-sm-4 session-row-description">
                    <p class="margin-secondary">Bart Mos
                        <br><span class="small">Senior Security Officer</span></p>
                </div>
                <div class="col-sm-4 session-row-logos">
                    <div class="row">
                        <div class="col-xs-6">
                            <img src="{{ '/assets/img/companies/schiphol-group-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right margin-secondary">
                        </div>
                        <div class="col-xs-6">
                            <img src="{{ '/assets/img/companies/aci-europe-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right margin-secondary">
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <!-- End row / Begin details -->
        <div class="collapse session-details" id="01-02-01-chairman">
            <article>
                <header class="session-details-header bg-lighter">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="margin-primary"><strong>Chairman</strong></h4>
                        </div>
                        <div class="col-sm-2">
                            <a class="small text-gray pull-right margin-primary" data-toggle="collapse" href="#01-02-01-chairman" aria-expanded="false" aria-controls="01-02-01-chairman">- collapse</a>
                        </div>
                    </div>
                </header>
                <div class="session-details-content margin-secondary">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/schiphol-group-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/aci-europe-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <p class="margin-secondary">
                                        <strong>Bart Mos</strong>
                                        <br>
                                        <span class="small">Senior Security Officer, <br>Amsterdam Airport Schiphol, <br><br>and Member, <br>ACI EUROPE Aviation Security Committee <br>and ACI World Security Standing Committee</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!-- End details -->
        <hr class="margin-top-none margin-bottom-none">
        <!-- Begin row -->
        <a class="session-row" data-toggle="collapse" href="#01-01-03-welcome-address" aria-expanded="false" aria-controls="01-01-03-welcome-address">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="session-row-title margin-secondary">
                        <li class="text-default">
                            <h4 class="margin-primary"><strong>Panel</strong></h4></li>
                    </ul>
                </div>
                <div class="col-sm-8 session-row-logos">
                    <div class="row">
                        <div class="col-sm-3 col-xs-6 col-sm-offset-6 margin-secondary"><img src="{{ '/assets/img/companies/tsa-logo-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right"></div>
                        <div class="col-sm-3 col-xs-6 margin-secondary"><img src="{{ '/assets/img/companies/european-comission-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right"></div>
                    </div>
                </div>
            </div>
        </a>
        <!-- End row / Begin details -->
        <div class="collapse session-details" id="01-01-03-welcome-address">
            <article>
                <header class="session-details-header bg-lighter">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="margin-primary"><strong>Panel</strong></h4>
                        </div>
                        <div class="col-sm-2">
                            <a class="small text-gray pull-right margin-primary" data-toggle="collapse" href="#01-01-03-welcome-address" aria-expanded="false" aria-controls="01-01-03-welcome-address">- collapse</a>
                        </div>
                    </div>
                </header>
                <div class="session-details-content margin-secondary">
                    <div class="row bs-columns-clearfix">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 margin-secondary">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/tsa-logo-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <p class="margin-secondary">
                                        <strong>Huban A. Gowadia</strong>
                                        <br>
                                        <span class="small">Deputy Administrator, <br>
                    TSA</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 margin-secondary">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/european-comission-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <p class="margin-secondary">
                                        <strong>Henrik Hololei</strong>
                                        <br>
                                        <span class="small">Director General DG Move, <br>
                    European Commission</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5><strong>More high profile speakers to be announced soon</strong></h5>
                </div>
            </article>
        </div>
        <!-- End details -->
    </div>
</div>
<div class="margin-primary">
    <div class="row">
        <div class="col-sm-3">
            <p class="h5 text-lighter margin-top-none"><span class="h1">12:45</span> - 14:00</p>
        </div>
        <div class="col-sm-9">
            <hr class="margin-none">
            <div class="session-break">
                <h4 class="text-light">Lunch on the Exhibition Floor</h4>
            </div>
        </div>
    </div>
</div>