<div class="row margin-top-primary">
    <div class="col-md-3">
        <p class="h5 text-gray margin-seconary"><strong><span class="h1 hero-title">11:15</span> - 12:45</strong></p>
        <h3 class="text-light"><strong>Fourth Working Session</strong></h3>
    </div>
    <div class="col-md-9 margin-primary">
        <h3 class="margin-top-none"><strong>Deepening cooperation between technology providers and airport stakeholders</strong></h3>
        <hr class="margin-top-none margin-bottom-none">
        <!-- Begin row -->
        <a class="session-row" data-toggle="collapse" href="#02-01-05-welcome-address" aria-expanded="false" aria-controls="02-01-05-welcome-address">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="session-row-title">
                        <li class="text-default">
                            <h4 class="margin-primary"><strong>Chairman</strong></h4></li>
                    </ul>
                </div>
                <div class="col-sm-4 session-row-description">
                    <p class="margin-secondary">Alexis Long
                        <br><span class="small">Head of Security Policy</span></p>
                </div>
                <div class="col-sm-2 col-xs-6 session-row-logos">
                    <img src="{{ '/assets/img/companies/heathrow-logo-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right margin-secondary">
                </div>
                <div class="col-sm-2 col-xs-6 session-row-logos">
                    <img src="{{ '/assets/img/companies/aci-europe-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right margin-secondary">
                </div>
            </div>
        </a>
        <!-- End row / Begin details -->
        <div class="collapse session-details" id="02-01-05-welcome-address">
            <article>
                <header class="session-details-header bg-lighter">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="margin-primary"><strong>Chairman</strong></h4>
                        </div>
                        <div class="col-sm-2">
                            <a class="small text-gray pull-right margin-primary" data-toggle="collapse" href="#02-01-05-welcome-address" aria-expanded="false" aria-controls="02-01-05-welcome-address">- collapse</a>
                        </div>
                    </div>
                </header>
                <div class="session-details-content margin-secondary">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/heathrow-logo-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/aci-europe-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <p class="margin-secondary">
                                        <strong>Alexis Long</strong>
                                        <br>
                                        <span class="small">Head of Security Policy,<br>
                    Heathrow Airport <br>and Member, <br>ACI EUROPE Aviation Security Committee and ACI World Security Standing Committee</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!-- End details -->
        <hr class="margin-top-none margin-bottom-none">
        <!-- Begin row -->
        <a class="session-row" data-toggle="collapse" href="#02-01-06-industry-address" aria-expanded="true" aria-controls="02-01-06-industry-address">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="session-row-title">
                        <li class="text-default">
                            <h4 class="margin-primary"><strong>Panel</strong></h4></li>
                    </ul>
                </div>
                <div class="col-sm-8 session-row-logos">
                    <div class="row">
                        <div class="col-sm-3 col-xs-6 margin-secondary"><img src="{{ '/assets/img/companies/government-of-aruba-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right"></div>
                        <div class="col-sm-3 col-xs-6 margin-secondary"><img src="{{ '/assets/img/companies/bristol-airport-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right"></div>
                        <div class="col-sm-3 col-xs-6 margin-secondary"><img src="{{ '/assets/img/companies/smiths-detection-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right"></div>
                        <div class="col-sm-3 col-xs-6 margin-secondary"><img src="{{ '/assets/img/companies/l3-security-detection-systems-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right"></div>
                        <div class="col-sm-3 col-xs-6 margin-secondary"><img src="{{ '/assets/img/companies/atos-logo-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right"></div>
                    </div>
                </div>
            </div>
        </a>
        <!-- End row / Begin details -->
        <div class="collapse session-details" id="02-01-06-industry-address">
            <article>
                <header class="session-details-header bg-lighter">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="margin-primary"><strong>Panel</strong></h4>
                        </div>
                        <div class="col-sm-2">
                            <a class="small text-gray pull-right margin-primary" data-toggle="collapse" href="#02-01-06-industry-address" aria-expanded="false" aria-controls="01-01-02-industry-address">- collapse</a>
                        </div>
                    </div>
                </header>
                <div class="session-details-content margin-secondary">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="margin-primary"><strong>Happy Flow™ the 100% self-service curb-to-boarding biometrics system pioneered by the Government of Aruba, Queen Beatrix International Airport, Schiphol Airport, KLM and Vision-Box – is one of many seamless flow/end-to-end solutions/single token initiatives being implemented at several airports. This transformation requires airports, airlines and other stakeholders, including the control authorities, to work together in entirely new partnerships and with new ways of working and thinking.  Is this really possible?</strong></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/government-of-aruba-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <p class="margin-secondary">
                                        <strong>Annet Steenbergen</strong>
                                        <br>
                                        <span class="small">Chair of the Aruba Happy Flow Board and Coordinator of Preclearance,<br>
                    Government of Aruba</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="margin-primary"><strong>Case Study: Bristol Airport West Terminal Extension – A future proof checkpoint security transformation. The new West Terminal at Bristol Airport follows an integrated checkpoint security approach to enhance security effectiveness, operational efficiency and passenger satisfaction. It combines a streamlined process with the latest generation of security technology as well as an upgrade path to meet new regulatory requirements.</strong></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/bristol-airport-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <p class="margin-secondary">
                                        <strong>Chris Morgan</strong>
                                        <br>
                                        <span class="small">Head of Security, <br>
                    Bristol Airport</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/smiths-detection-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <p class="margin-secondary">
                                        <strong>Tony Tielen</strong>
                                        <br>
                                        <span class="small">Vice President EMEA, <br>
                    Smiths Detection and Bristol Airport Representative </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="margin-primary"><strong>Creating a Robust Checkpoint Security Solution</strong></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/l3-security-detection-systems-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <p class="margin-secondary">
                                        <strong>Ian Hutcheson OBE</strong>
                                        <br>
                                        <span class="small">Security Adviser<br>
                    L-3 Security &amp; Detection Systems</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="margin-primary"><strong>What more can we learn from others? Could the licence plate recognition technologies used at borders (which can now be combined with facial recognition) potentially have a major new role in enhanced landside security?</strong></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/atos-logo-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <p class="margin-secondary">
                                        <strong>Pedro Casatejada Herrera</strong>
                                        <br>
                                        <span class="small">Global Solution Director for Border Control, <br>
                    Atos SE</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!-- End details -->
    </div>
</div>
<div class="margin-primary">
    <div class="row">
        <div class="col-sm-3">
            <p class="h5 text-lighter margin-top-none"><span class="h1">12:45</span> - 14:00</p>
        </div>
        <div class="col-sm-9">
            <hr class="margin-none">
            <div class="session-break">
                <h4 class="text-light">Lunch on the Exhibition Floor</h4>
            </div>
        </div>
    </div>
</div>