<div class="row margin-top-primary">
    <div class="col-md-3">
        <p class="h5 text-gray margin-seconary"><strong><span class="h1 hero-title">09:00</span> - 10:30</strong></p>
        <h3 class="text-primary"><strong>Welcome &amp; Keynote Addresses</strong></h3>
    </div>
    <div class="col-md-9 margin-primary">
        <hr class="margin-top-none margin-bottom-none">
        <!-- Begin row -->
        <a class="session-row" data-toggle="collapse" href="#01-01-01" aria-expanded="false" aria-controls="01-01-01">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <ul class="session-row-title">
                        <li class="text-default">
                            <h4 class="margin-primary"><strong>Welcome Address</strong></h4></li>
                    </ul>
                </div>
                <div class="col-xs-6 session-row-description">
                    <p class="margin-secondary">Olivier Jankovec
                        <br><span class="small">Director General</span></p>
                </div>
                <div class="col-sm-2 col-xs-6 session-row-logos">
                    <img src="{{ '/assets/img/companies/aci-europe-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right margin-secondary">
                </div>
            </div>
        </a>
        <!-- End row / Begin details -->
        <div class="collapse session-details" id="01-01-01">
            <article>
                <header class="session-details-header">
                    <div class="row">
                        <div class="col-sm-10 col-xs-12">
                            <h4 class="margin-primary"><strong>Welcome Address</strong></h4>
                        </div>
                        <div class="col-sm-2">
                            <a class="small text-gray pull-right margin-primary" data-toggle="collapse" href="#01-01-01" aria-expanded="false" aria-controls="01-01-01">- collapse</a>
                        </div>
                    </div>
                </header>
                <div class="session-details-content margin-secondary">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/aci-europe-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <p class="margin-secondary">
                                        <strong>Olivier Jankovec</strong>
                                        <br>
                                        <span class="small">Director General, <br>
                    ACI EUROPE</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!-- End details -->
        <hr class="margin-top-none margin-bottom-none">
        <!-- Begin row -->
        <a class="session-row" data-toggle="collapse" href="#01-01-02-industry-address" aria-expanded="true" aria-controls="01-01-02-industry-address" style="display:none;">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="session-row-title">
                        <li class="text-default">
                            <h4><strong>Industry Keynote Addresses</strong></h4></li>
                    </ul>
                </div>
                <div class="col-sm-4 session-row-description">
                    <p class="margin-secondary">“The Brussels Airport &amp;
                        <br>Istanbul Atatürk Attacks”</span>
                    </p>
                </div>
                <div class="col-sm-4 session-row-logos">
                    <div class="row">
                        <div class="col-xs-6">
                            <img src="{{ '/assets/img/companies/brussels-airport-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right margin-secondary">
                        </div>
                        <div class="col-xs-6">
                            <img src="{{ '/assets/img/companies/tav-airports-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right margin-secondary">
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <!-- End row / Begin details -->
        <div class="collapse session-details in" id="01-01-02-industry-address">
            <article>
                <header class="session-details-header">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4><strong>Industry Keynote Addresses</strong></h4>
                        </div>
                        <div class="col-sm-2">
                            <a class="small text-gray pull-right margin-secondary" data-toggle="collapse" href="#01-01-02-industry-address" aria-expanded="false" aria-controls="01-01-02-industry-address">- collapse</a>
                        </div>
                    </div>
                </header>
                <div class="session-details-content margin-secondary">
                    <h4 class="h3 margin-top-primary"><strong>“The Brussels Airport &amp; Istanbul Atatürk Attacks”</strong></h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <img src="{{ '/assets/img/speakers/arnaud-feist-brussels-airport-300x300.jpg' | relative_url }}" alt="" class="img-responsive">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/brussels-airport-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <p class="margin-primary">
                                        <strong>Arnaud Feist</strong>
                                        <br>
                                        <span class="small">CEO, <br>
                    Brussels Airport</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <img src="{{ '/assets/img/speakers/sani-sener-tav-300x300.jpg' | relative_url }}" alt="" class="img-responsive">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/tav-airports-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <p class="margin-primary">
                                        <strong>Dr Sani Şener</strong>
                                        <br>
                                        <span class="small">CEO, <br>
                    TAV Istanbul Atatürk Airport</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!-- End details -->
        <hr class="margin-top-none margin-bottom-none">
        <!-- Begin row -->
        <a class="session-row" data-toggle="collapse" href="#01-01-04-keynote" aria-expanded="false" aria-controls="01-01-04-keynote">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="session-row-title margin-secondary">
                        <li class="text-default">
                            <h4 class="margin-secondary"><strong>Keynote Address from the Belgian Vice-Prime Minister</strong></h4></li>
                    </ul>
                </div>
                <div class="col-xs-6 session-row-description">
                    <p class="margin-secondary">Jan Jambon
                        <br><span class="small">Belgian Vice-Prime Minister</span></p>
                </div>
                <div class="col-sm-2 col-xs-6 session-row-logos">
                    <img src="{{ '/assets/img/companies/belgium-government-logo-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right margin-secondary">
                </div>
            </div>
        </a>
        <!-- End row / Begin details -->
        <div class="collapse session-details" id="01-01-04-keynote">
            <article>
                <header class="session-details-header">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="margin-primary"><strong>Keynote Address from the Belgian Vice-Prime Minister</strong></h4>
                        </div>
                        <div class="col-sm-2">
                            <a class="small text-gray pull-right margin-primary" data-toggle="collapse" href="#01-01-04-keynote" aria-expanded="false" aria-controls="01-01-04-keynote">- collapse</a>
                        </div>
                    </div>
                </header>
                <div class="session-details-content margin-primary">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <img src="{{ '/assets/img/speakers/jan-jambon-300x300.jpg' | relative_url }}" alt="" class="img-responsive">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/belgium-government-logo-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <p class="margin-primary">
                                        <strong>Jan Jambon</strong>
                                        <br>
                                        <span class="small">Belgian Vice-Prime Minister, <br>
                    and Security &amp; Interior Minister</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!-- End details -->
    </div>
</div>
<div class="margin-primary">
    <div class="row">
        <div class="col-sm-3">
            <p class="h5 text-lighter margin-top-none"><span class="h1">10:30</span> - 11:15</p>
        </div>
        <div class="col-sm-9">
            <hr class="margin-none">
            <div class="session-break">
                <h4 class="text-light">Coffee break on the Exhibition Floor</h4>
            </div>
        </div>
    </div>
</div>