<div class="row margin-top-primary">
    <div class="col-md-3">
        <p class="h5 text-gray margin-seconary"><strong><span class="h1 hero-title">09:00</span> - 10:45</strong></p>
        <h3 class="text-light"><strong>Third Working Session</strong></h3>
    </div>
    <div class="col-md-9 margin-primary">
        <h3 class="margin-top-none"><strong>Crisis management and crisis communications – emergency planning imperatives – for operational and security priorities</strong></h3>
        <hr class="margin-top-none margin-bottom-none">
        <!-- Begin row -->
        <a class="session-row" data-toggle="collapse" href="#02-01-01-welcome-address" aria-expanded="false" aria-controls="02-01-01-welcome-address">
            <div class="row">
                <div class="col-sm-4 ">
                    <ul class="session-row-title">
                        <li class="text-default">
                            <h4 class="margin-primary"><strong>Chairman</strong></h4>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6 session-row-description">
                    <p class="margin-secondary">Daniel de Carvalho
                        <br><span class="small">Communications Strategist</span></p>
                </div>
                <div class="col-sm-2 col-xs-6 session-row-logos">
                    <img src="{{ '/assets/img/companies/wizzair-logo-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right margin-secondary">
                </div>
            </div>
        </a>
        <!-- End row / Begin details -->
        <div class="collapse session-details" id="02-01-01-welcome-address">
            <article>
                <header class="session-details-header bg-lighter">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="margin-primary"><strong>Chairman</strong></h4>
                        </div>
                        <div class="col-sm-2">
                            <a class="small text-gray pull-right margin-primary" data-toggle="collapse" href="#02-01-01-welcome-address" aria-expanded="false" aria-controls="01-01-01-welcome-address">- collapse</a>
                        </div>
                    </div>
                </header>
                <div class="session-details-content margin-secondary">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>The high profile of aviation, and the highest priority given to maximising standards in safety and security must be mirrored by equally robust crisis communication strategies. What is the gold standard for awareness and preparedness, and how well have these theoretical processes performed in response to actual real events?</strong></p>
                            <p>Ground to cover: Risk mapping. Control of messaging and narrative when reputation is king. The importance of “all hands on deck” and all-stakeholder inclusiveness.</p>
                        </div>
                        <br />
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/wizzair-logo-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <p class="margin-secondary">
                                        <strong>Daniel de Carvalho</strong>
                                        <br>
                                        <span class="small">Former Lead Spokesman and Communications Strategist at Wizz Air and Ryanair; Principal, DDC Communications<br>
                    </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!-- End details -->
        <hr class="margin-top-none margin-bottom-none">
        <!-- Begin row -->
        <a class="session-row" data-toggle="collapse" href="#02-01-02-industry-address" aria-expanded="false" aria-controls="01-01-02-industry-address">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="session-row-title">
                        <li class="text-default">
                            <h4 class="margin-primary"><strong>Defining presentation</strong></h4></li>
                    </ul>
                </div>
                <div class="col-xs-6 session-row-description">
                    <p class="margin-secondary">Abigail Pollard
                        <br><span class="small">Managing Director</span></p>
                </div>
                <div class="col-sm-2 col-xs-6 session-row-logos">
                    <img src="{{ '/assets/img/companies/blake-emergency-services-267x140.png' | relative_url }}" alt="" class="img-responsive pull-right margin-secondary">
                </div>
            </div>
        </a>
        <!-- End row / Begin details -->
        <div class="collapse session-details" id="02-01-02-industry-address">
            <article>
                <header class="session-details-header bg-lighter">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="margin-primary"><strong>Defining presentation</strong></h4>
                        </div>
                        <div class="col-sm-2">
                            <a class="small text-gray pull-right margin-primary" data-toggle="collapse" href="#02-01-02-industry-address" aria-expanded="false" aria-controls="01-01-02-industry-address">- collapse</a>
                        </div>
                    </div>
                </header>
                <div class="session-details-content margin-secondary">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4><strong>Come the day when disaster strikes: Airport corporate cultures must be aware and sympathetic to emergency planning imperatives and must plan for crises.</strong></h4>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                                <img src="{{ '/assets/img/companies/blake-emergency-services-267x140.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                            </div>
                                        </div>
                                        <div class="col-sm-7">
                                            <p class="margin-secondary">
                                                <strong>Abigail Pollard</strong>
                                                <br>
                                                <span class="small">Managing Director,<br>
                      Blake Emergency Services</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="margin-primary h5"><strong>Ground to cover:</strong></p>
                            <h5>Crisis management: Emergency response planning</h5>
                            <p class="small">Devising procedures, contingency plans, and emergency response manuals, auditing and amending existing plans, training senior and middle management and staff, and staging exercises to rigorously test procedures.</p>
                            <h5>Crisis communications: social media moves to centre stage</h5>
                            <p class="small">Incidents are rare, but happen without warning; only the very largest airports will have the resources to cope with a full-scale emergency in house – even then they will be in unfamiliar territory. Posts on Twitter and Facebook can misinform and cause severe chaos. But used well, these platforms are a powerful tool.</p>
                            <p class="h5">Case studies and best practice – real crisis management and communications in the current security climate</p>
                            <p class="small">Analysis of previous incidents and the media and crisis management strategies which proved effective.</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!-- End details -->
        <hr class="margin-top-none margin-bottom-none">
        <!-- Begin row -->
        <a class="session-row" data-toggle="collapse" href="#02-01-04-welcome-address" aria-expanded="false" aria-controls="02-01-03-welcome-address">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="session-row-title margin-secondary">
                        <li class="text-default">
                            <h4 class="margin-primary"><strong>Additional case studies</strong></h4></li>
                    </ul>
                </div>
                <div class="col-sm-8 session-row-logos">
                    <div class="row">
                        <div class="col-sm-3 margin-secondary"></div>
                        <div class="col-sm-3 col-xs-6 margin-secondary"><img src="{{ '/assets/img/companies/schiphol-logo-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right"></div>
                        <div class="col-sm-3 col-xs-6 margin-secondary"><img src="{{ '/assets/img/companies/eurocontrol-logo-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right"></div>
                        <div class="col-sm-3 col-xs-6 margin-secondary"><img src="{{ '/assets/img/companies/csa-international-logo-400x210.png' | relative_url }}" alt="" class="img-responsive pull-right"></div>
                    </div>
                </div>
            </div>
        </a>
        <!-- End row / Begin details -->
        <div class="collapse session-details" id="02-01-04-welcome-address">
            <article>
                <header class="session-details-header bg-lighter">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="margin-primary"><strong>Additional case studies</strong></h4>
                        </div>
                        <div class="col-sm-2">
                            <a class="small text-gray pull-right margin-primary" data-toggle="collapse" href="#02-01-04-welcome-address" aria-expanded="false" aria-controls="01-01-03-welcome-address">- collapse</a>
                        </div>
                    </div>
                </header>
                <div class="session-details-content margin-secondary">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>The shooting down of MH17 – Amsterdam Schiphol’s leadership role through crisis management and crisis communication: A post-event analysis of a major emergency of global importance</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/schiphol-logo-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <p class="margin-secondary">
                                        <strong>Mirjam Snoerwang</strong>
                                        <br>
                                        <span class="small">Senior Officer, Safety, Security &amp; Environment<br>
                    Schiphol Group</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <br />
                            <p><strong>What are the big threats? Terror? Pandemics? Cyber attacks? Other? How can the aviation community coordinate management of response to events affecting the entire aviation network in Europe?</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/eurocontrol-logo-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <p class="margin-secondary">
                                        <strong>Zarko Sivcev</strong>
                                        <br>
                                        <span class="small">Advisor to the Director,<br>
                    Eurocontrol</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <br />
                            <p><strong>Crisis Leadership and Protecting Credibility in the Face of Extreme Disruption</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="logo-container bg-lighter" style="padding: 3px;width:100%;margin-top:8px;">
                                        <img src="{{ '/assets/img/companies/csa-international-logo-400x210.png' | relative_url }}" alt="" class="img-responsive bg-white" style="padding:8px;">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <p class="margin-secondary">
                                        <strong>Caroline Sapriel</strong>
                                        <br>
                                        <span class="small">Managing Partner,<br>
                    CS&amp;A International</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
<div class="margin-primary">
    <div class="row">
        <div class="col-sm-3">
            <p class="h5 text-lighter margin-top-none"><span class="h1">10:45</span> - 11:15</p>
        </div>
        <div class="col-sm-9">
            <hr class="margin-none">
            <div class="session-break">
                <h4 class="text-light">Coffee on the Exhibition Floor</h4>
            </div>
        </div>
    </div>
</div>